{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login_and_signup_form.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body id="gradient">
    <div class="form-container">
        <form action="" method="post" class="">
            {% csrf_token %}
            <div class="logo-container">
                <p>WELCOME TO 
                    <img src="{% static 'images/logo-text.png' %}" alt="logo">
                </p>
            </div>
            <div class="input-container">
                {% for message in messages %}
                <h5>{{message}}</h5>
                {% endfor %}
                <label for="username">Username</label>
                <input required type="text" name="username" placeholder="Enter your username... ">

                <label for="email">Email</label>
                <input  required type="email" name="email" id="" placeholder="Enter your email...">

                <label for="password1">Password</label>
                <input required type="password" name="password1" id="" placeholder="Enter your password...">

                <label for="password2">Confirm Password</label>
                <input required type="password" name="password2" id="" placeholder="Confirm your password...">
                <a href="{% url 'core:login' %}">Already a user? Login</a>
            </div>
            
            <div class="btn-container">
                <input type="submit" value="SignUp" class="btn">
            </div>
            
        </form>
    </div>

</body>
</html>